/* Background */
.main-bg {
 background: radial-gradient(circle at left, rgba(255,140,0,0.12), transparent 100%),
              #2c2217;
  height: 100vh;
}

/* Card */
.login-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.25);
}

/* LEFT */
.left-box {
 background: radial-gradient(circle at bottom, rgba(255,140,0,0.2), transparent 100%),
              #251d13;
  color: white;
  padding: 40px;
}

.illustration {
  width: 220px;
  margin-top: 40px;
}

.info-text {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}

/* RIGHT */
.right-box {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 80%;
}

/* Tag */
.welcome-tag {
  display: inline-block;
  background-color:  #ff9800;
  border-color: #1a140d;
  color: black;
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 13px;
}

/* Title */
.title {
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Inputs */
.custom-input {
   background: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
}

.custom-input::placeholder {
  color: rgba(255,255,255,0.5);
}

.custom-input:focus {
  box-shadow: none;
  border-color:  #ff9800;
}

/* Button */
.login-btn {
   background: #ff9800;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

/* Links */
.links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.links a {
  text-decoration: none;
  color:  #ff9800;
}
.img-fluid{
    width: 300px;
    height: 400px;
}