/* Background */
.main-bg {
  background: linear-gradient(135deg, #341300, #9d3d01);
  height: 100vh;
}

/* Card */
.login-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.25);
}

/* LEFT */
.left-box {
  background: linear-gradient(135deg, #c45200, #572100);
  color: rgb(255, 255, 255);
  padding: 40px;
}
.illustration {
  width: 220px;
  margin-top: 40px;
}

.info-text {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}

/* RIGHT */
.right-box {
  background: rgb(253, 184, 152);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 80%;
}

/* Tag */
.welcome-tag {
  display: inline-block;
  background: linear-gradient(90deg, #b9680b, #793600);
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 13px;
}

/* Title */
.title {
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Inputs */
.custom-input {
   background: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 0;
}

.custom-input::placeholder {
  color: rgba(255,255,255,0.5);
}

.custom-input:focus {
  box-shadow: none;
  border-color:  #ff9800;
}

/* Button */
.login-btn{
  background: #bc4800;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px;
  border: #ffffff;
}

/* Links */
.links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.links a {
  text-decoration: none;
  color: #ab4700;
}
.img-fluid{
    width: 300px;
    height: 400px;
}