{% extends 'base.html' %}
{% load static %}

{% block title %}Live Video Call{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <span class="badge rounded-pill bg-dark border border-secondary px-3 py-2 mb-4">
                    <i class="fa-solid fa-circle"></i>LIVE HD VIDEO
                </span>

                <h1 class="hero-title">
                    <span class="gradient-text">Connect</span> with <br>
                    your Loved <br>
                    Ones
                </h1>

                <p class="lead text-secondary mt-4">
                    Cover any distance instantly. Crystal clear video,
                    lag-free audio, and a secure environment for your
                    most important conversations.
                </p>

                <div class="mt-4 d-flex gap-3 flex-wrap">
                    <a href="{% url 'register' %}" id="createRoomBtn" class="btn cta-btn">
                        Get Started Free
                    </a>

                    <a href="{% url 'login' %}" id="loginBtn" class="btn btn-outline-light demo-btn">
                        Login
                    </a>
                </div>

                <div class="mt-5 d-flex align-items-center gap-3">
                    <div class="d-flex">
                        <img src="{% static 'images/man2.png' %}"class="hero-avatar rounded-circle border border-light">

                       <img src="{% static 'images/women.png' %}"class="hero-avatar rounded-circle border border-light ms-n2">
                        <div class="hero-avatar rounded-circle bg-secondary text-white d-flex justify-content-center align-items-center ms-n2">+2k</div>
                    </div>
                    <span class="text-secondary">Trusted by happy users</span>
                </div>
            </div>

            <div class="col-lg-6 d-flex justify-content-end">
                <div class="mock-video shadow-lg overflow-hidden d-flex justify-content-center align-items-start">
                    <img
                        src="{% static 'images/call.png' %}"
                        class="hero-image img-fluid w-100 h-60"
                        alt="Video Preview"
                    >
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="site-footer mt-auto pt-5 pb-4">

    <div class="container">

        <div class="row justify-content-between align-items-start">

            <!-- LEFT SIDE -->
            <div class="col-lg-3 mb-4">

                <h5 class="footer-title">
                    Live Video Calling
                </h5>

                <p class="brand-text">
                    A Django WebRTC based video conferencing platform
                    for seamless communication.
                </p>

            </div>

            <!-- RIGHT SIDE -->
            <div class="col-lg-9">

                <h5 class="footer-title">
                    Our Contributors
                </h5>

                <div class="row g-4">

                    <!-- CARD 1 -->
                    <div class="col-lg-3 col-md-6 col-6">

                        <div class="contributor-card">

                            <img
                                src="{% static 'images/raunak.jpeg' %}"
                                class="contributor-avatar  "
                                alt="Raunak Kumar"
                            >

                            <h6 class="contributor-name">
                                Raunak Kumar
                            </h6>

                            <p class="contributor-role">
                               Roll No. 235093
                            </p>
                            <p class="contributor-role">
                               Worked on Django backend, WebRTC integration.
                            </p>

                            <div class="social-links">

                                <a href="https://github.com/raunak-7277">
                                    <i class="fa-brands fa-github"></i>
                                </a>

                                <a href="https://www.linkedin.com/in/raunak-kumar-3ab43b2b1/">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=raunaksabitakumar2004@gmail.com" target="_blank">
                                   <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <!-- CARD 2 -->
                    <div class="col-lg-3 col-md-6 col-6">

                        <div class="contributor-card">

                            <img
                                src="{% static 'images/khushi.jpeg' %}"
                                class="contributor-avatar "
                                alt="Khushi Kumari"
                            >

                            <h6 class="contributor-name">
                                Khushi Kumari
                            </h6>

                            <p class="contributor-role">
                                Roll No. 235076
                            </p>
                            <p class="contributor-role">
                                 Worked on Django database management.
                            </p>

                            <div class="social-links">

                                <a href="https://github.com/khushi-pandey27">
                                    <i class="fa-brands fa-github"></i>
                                </a>

                                <a href="https://www.linkedin.com/in/khushi-kumari-038179353/">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=khushikumari@example.com" target="_blank">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <!-- CARD 3 -->
                    <div class="col-lg-3 col-md-6 col-6">

                        <div class="contributor-card">

                            <img
                                src="{% static 'images/anisha.jpeg' %}"
                                class="contributor-avatar "
                                alt="Anisha Singh"
                            >

                            <h6 class="contributor-name">
                                Anisha Singh
                            </h6>

                            <p class="contributor-role">
                                Roll No. 235086
                            </p>
                            <p class="contributor-role">
                                Worked on frontend design and UI/UX.
                            </p>

                            <div class="social-links">

                                <a href="https://github.com/anishasinghrajput7656-ui">
                                    <i class="fa-brands fa-github"></i>
                                </a>

                                <a href="https://www.linkedin.com/in/anisha-singh-174922340/">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                                
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=anishasinghrajput7656@gmail.com" target="_blank">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>

                    </div>

                    <!-- CARD 4 -->
                    <div class="col-lg-3 col-md-6 col-6">

                        <div class="contributor-card">

                            <img
                                src="{% static 'images/ashish.jpeg' %}"
                                class="contributor-avatar "
                                alt="Ashish Kumar"
                            >

                            <h6 class="contributor-name">
                                Ashish Kumar
                            </h6>

                            <p class="contributor-role">
                                Roll No. 235109
                            </p>
                            <p class="contributor-role">
                                Worked on Testing and deployment.
                            </p>
                            <div class="social-links">

                                <a href="https://github.com/Ashish-139">
                                    <i class="fa-brands fa-github"></i>
                                </a>

                                <a href="https://www.linkedin.com/in/ashish-kumar-4a6a78350/">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=kumar139ashish@gmail.com" target="_blank">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- COPYRIGHT -->
        <div class="footer-bottom mt-5">

            <p class="mb-0 text-center">
                © 2026 Live Video Call Project.
            </p>

        </div>

    </div>

</footer>
{% endblock %}
